/* Start Globle Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding-left: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }

}
/* End Globle Rules */

/* Start Header */
header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to left, #055160 , #0d9ebb, #ffffff);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo {
    position: absolute;
    top: 18px;
    left: 20px;
}
header .container .logo img {
    width: 70px;
}

header .container .links {
    position: absolute;
    right: 20px;
    top: 20px;
}
header .container .links .icon {
    width: 30px;
    height:22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    right: 0;

}

header .container .links ul {
    display: none;
    width: 250px;
    height: 220px;
    background-color: #00000087;
    padding: 20px 0;
    list-style: none;
    text-decoration: none;
    margin-top: 30px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    position: relative;
    z-index: 10;
}
header .container .links:hover ul {
    display: block;
}
header .container .links  ul li {
    text-decoration: none;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #ffffff5c;
    transition: .9s;
    -webkit-transition: .9s;
    -moz-transition: .9s;
    -ms-transition: .9s;
    -o-transition: .9s;
}
header .container .links  ul li:last-of-type{
    border: none;
}
header .container .links  ul li:hover {
    padding-left: 40px;
    
}
header .container .links  ul li:hover a{
    color: #2080c9;
    transition: .9s ease-in-out;
    -webkit-transition: .9s ease-in-out;
    -moz-transition: .9s ease-in-out;
    -ms-transition: .9s ease-in-out;
    -o-transition: .9s ease-in-out;
}

header .container .links  ul li a {
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #fff;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
}

header .container .links .icon span {
    background-color: #c2c3c5;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
   
}
header .container .links .icon span:nth-of-type(2) {
    width: 60%;
}
header .container .links:hover .icon span:nth-of-type(2) {
    width: 100%;
}
/* End  Header */

/* Start Personal Data */
.personal-data {
    height: calc(80vh - 60px);
    background-color: black;
    position: relative;
}
.personal-data .img-person {
    height: calc(80vh - 60px);
    background: linear-gradient(to left, #0dcaf0 , #000000);
    background-image: url(../images/landing.jpg);
    background-size: cover;
    z-index: -1;
}
.personal-data img {
    position: absolute;
    bottom : -2px;
    right: 0;
    width: 500px;
    height: 400px;
    z-index: 1
}
.personal-data .container::after{
    content: "";
    position: absolute;
    bottom: -2.5px;
    left: 25%;
    width: 50%;
    height: 5px;
    background: linear-gradient(to left, red , blue);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 10;
}
/* .personal-data .container .backimage  {
    height: calc(80vh - 60px);
    background-image: url(../images/portfolio-1.jpg);
    background-size: cover;
}
.personal-data .container{
    position: relative;
} */
.personal-data .container .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
}

.personal-data .container .name {
    position: absolute;
    top: 20px;
    left: 3%;
}
.personal-data .container .name h1 {
    color: #f5f6e8;
    letter-spacing: 10px;
    text-shadow: 2px 2px 3px #41b0a5, -2px -1px 3px #41b0a5;
    font-size: 2.1em;
}
.personal-data .container .name h3 {
    font-weight: 400;
    color: #f5f6e8;
    letter-spacing: 14.5px;
    text-shadow: 2px 2px 3px #41b0a5, -2px -1px 3px #41b0a5;
    margin-top: -10px;
    font-size: 1.19em;
}

.personal-data .container .contact {
    width: 90%;
    /* background-color: #41b0a5; */
    position: absolute;
    top: calc(100% - 50px);
    left: 4%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.personal-data .container .contact span {
    margin-bottom: 5px;
}

.personal-data .container .contact span a {
    font-size: 14px;
    color: #dee2e6;
    font-weight: 400;
    text-align: center;
    text-decoration-line: none;
}
.personal-data .container .contact span a i {
    margin: 5px 10px 5px 5px;
    position: relative;
    z-index: 10;
  
}
/* .personal-data .container .contact span a i:hover {
    color: #00000078;
} */
.personal-data .container .contact span:last-child a i{
    padding-left: 2px;
}
.personal-data .container .contact span a i::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #00000078;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.personal-data .container .contact span a:hover i::after{
    background-color: #2080c9;
    transition: .9s ease;
    -webkit-transition: .9s ease;
    -moz-transition: .9s ease;
    -ms-transition: .9s ease;
    -o-transition: .9s ease;
}
@media (max-width: 992px){
    .personal-data img {
        position: absolute;
        bottom : -2px;
        right: 0;
        width: 400px;
        height: 300px;
    }
} 


@media (max-width : 768px) {

    .personal-data img {
        position: absolute;
        top: 20px;
        right: calc(50% - 125px);
        width: 250px;
        height: 200px;
        border: 1px solid #101010;
        background: #00000070;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
}
    .personal-data .container .name {
        top: 230px;
        left: calc(50% - 179px);
        width: 360px;
    }
    .personal-data .container .name h1 {
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 7px;
    }
    .personal-data .container .name h3 {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 7.3px;
        margin-top: -5px;
        text-align: center;
    }
    .personal-data .container .contact {
        width: 90%;
        /* background-color: #41b0a5; */
        position: absolute;
        top: calc(100% - 100px);
        left: 4%;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


/* End Personal Data */
/* Start profile  */
.profile {
    background-color: #000;
    height: fit-content;
    padding: 10px 0;
    position: relative;
}
.profile::after{
    content: "";
    position: absolute;
    bottom: -2.5px;
    left: 25%;
    width: 50%;
    height: 5px;
    background: linear-gradient(to left, red , blue);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 10;
}
.profile .container h2 {
    text-align: center;
    color: #f5f6e8;
    letter-spacing: 2px;
    margin: 10px 0 30px;
}
.profile .container p {
    color: #f5f6e8;
    text-align: center;
    margin: 20px 30px;
}
/* End profile  */

/* Start work experince  */
.work-experience{
    position: relative;
    margin-bottom: 20px;
    padding: 10px 0;
}
.work-experience::after {
    content: "";
    position: absolute;
    bottom: -22.5px;
    left: 25%;
    width: 50%;
    height: 5px;
    background: linear-gradient(to left, red , blue);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 10;
}
.work-experience .container h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px 0 40px;
}
.all-experience{
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 10px;
    align-items: center;
}
.all-experience .info {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.all-experience .info span {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.8px;
    padding: 5px;
    margin: 5px;
    text-align: left;
}
.all-experience .info span:last-child{
    display: block;
    color: red;
    text-align: left;
}
@media (max-width: 768px){
    .all-experience{
        display: grid;
        grid-template-columns: 150px 1fr;
        gap: 0px;
        align-items: center;
    }
}
/* End work experince  */
/* Start education  */
.education {
    background-color: #000;
    position: relative;
   padding: 10px 0;
   height: fit-content;
}
.education::after {
    content: "";
    position: absolute;
    bottom: -2.5px;
    left: 25%;
    width: 50%;
    height: 5px;
    background: linear-gradient(to left, red , blue);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 10;
}
.education .container h2 {
    text-align: center;
    color: #f5f6e8;
    text-transform: uppercase;
    margin: 10px 0 40px;
    letter-spacing: 3px;
}
.education .container .educat{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px ,1fr));
    gap: 20px;
    margin: 0 0 30px;
}
.education .container span {
    font-size: 20px;
    letter-spacing: 3px;
    color: #aaa;
    font-weight: 700;
    padding: 10px;
    display: inline-block;
}

@media (max-width : 768px) {
    .education .container .educat{
        /* justify-items: center; */
        text-align: center;
    }
}
/* End education  */

/* Start personal skills */

.personal-skills {
    position: relative;
    height: fit-content;
    padding: 20px 10px 100px;
}
.personal-skills::after {
    content: "";
    position: absolute;
    bottom: -2.5px;
    left: 25%;
    width: 50%;
    height: 5px;
    background: linear-gradient(to left, red , blue);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 10;
}

.personal-skills .container h2 {
    text-align: center;
    margin: 0 0 40px;
    text-transform: uppercase;
}

.personal-skills .container .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(100px ,1fr));
    gap: 40px;
    justify-items: center;
}

/* End personal skills */

/* Start certifacte */
.certifacte {
    width: 100% ;
    height: fit-content;
    background: linear-gradient(to left, #41b0a5 , #41464b);
    position: relative;
    padding: 10px 10px 50px;
}
.certifacte .container h2 {
    text-align: center;
    color: #f5f6e8;
    text-transform: uppercase;
    margin: 10px 0 40px;
    letter-spacing: 3px;
}
/* End certifacte */
/* Start Footer */
footer {
    width: 100%;
    height: 60px;
    background-color: #000;
    position: relative;
    padding: 10px 0;
}
footer .container p {
    color: #f5f6e8;
    padding-top: 10px;
    text-align: center;
}

footer .container p span {
    color: #3e9e94;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
}
/* ŸèEnd Footer */
